.app{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    
    
}
.card{
    height: 35vh;
    width: 30vh;
    background-color:white;
    color: white;
    border-radius: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border:solid black;


}

header{
    background-color:  rgb(39, 39, 55);
    font-weight: bolder;
    padding: 2rem;
    align-items: center;
    display: flex;
    justify-content:space-around ;
    font-size: larger;
    
    
}

.card-details{
    border-radius: 20px;
    background-color: rgb(39, 39, 55);
    color:white;
    margin: 5px;
    padding: 5px;
    width: 80%;
    text-decoration: none;
    text-align: center;
    
}
.card-name{
    color: black;
    margin: 4rem;
}
.card-fav{
    color: black;
    position: relative;
    margin-left: 10rem;

}

.header-title {
    text-decoration: none;
    color: white;

}
.header-WhishList {
    text-decoration: none;
    color: white;

}

.pagination-data {
    display: flex;
    list-style: none;

}
.pagination-list{
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 10px;
}
.Pagination-box{
    display: flex;
    justify-content: center;
    
}





